.header {
	padding: 0 10px;
	margin-bottom: 5px;
}

.left-column {
	float: left;
}

.right-column {
	float: right;
}

.column {
	width: 50%;
}

.column-content {
	padding: 0 10px;
}

.footer {
	padding: 0 10px;
	padding-top: 10px;
	clear: both;
}

.load_file {
	position: relative;
	overflow: hidden;
	width: 180px;
	height: 22px;
	float: left;
	background: #EEEEEE;
	background: -moz-linear-gradient(#DFDFDF, #EEEEEE, ##DFDFDF);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#DFDFDF), to(#DFDFDF), color-stop(0.5, #EEEEEE));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DFDFDF', endColorstr='#EEEEEE');
	border: 1px solid #CCCCCC;
	padding: 0 5px;
	border-radius: 2px;
	text-align: center;
	margin-right: 5px;
}

.load_file:hover {
	border: 1px solid #999999;
}

.load_file:active {
	background: #DDDDDD;
	background: -moz-linear-gradient(#DFDFDF, #DDDDDD, ##DFDFDF);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#DFDFDF), to(#DFDFDF), color-stop(0.5, #DDDDDD));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DFDFDF', endColorstr='#DDDDDD');
}

.load_file:disabled {
	background: #DFDFDF;
}

.load_file input[type="file"] {
	display: none;
}

.load_file label {
	display: block;	
	cursor: pointer;
}

.load_file span {
	line-height: 20px;
}

.select_container {
	float: right;
}

.middle_area {
	clear: both;
}

#submit_container {
	float: right;
	margin-top: 27px;
	margin-left: 10px;
	margin-right: 10px;
}

#submit {
	background: #009300;
	background: -moz-linear-gradient(#008500, #009900, ##008500);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#008500), to(#008500), color-stop(0.3, #009900));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008500', endColorstr='#009900');
	color: white;
	padding: 5px 25px;
	border: 1px solid #007000;
	border-radius: 5px;
	outline: none;
}

#submit:hover {
	border: 1px solid black;
}

#submit:active {
	background: #008800;
	background: -moz-linear-gradient(#007500, #009000, ##007500);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#007500), to(#007500), color-stop(0.3, #009000));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007500', endColorstr='#009000');
}

textarea {
	padding: 5px;
	height: 365px;
	width: 100%;
	border: 1px solid #BBBBBB;
	border-radius: 5px;
}

textarea:focus {
	border: 1px solid #009000;
}

#verification_script {
	height: 125px;
}

#output {
	background: #EEEEEE;
	border-radius: 10px;
	min-height: 60px;
}
