.header {
	padding: 0 10px;
	margin-bottom: 5px;
}

.middle-area{
}

.left-column {
	float: left;
}

.right-column {
	float: right;
}

.column {
	width: 50%;
}

.column-content {
	padding: 0 10px;
}

.footer {
	padding: 0 10px;
	padding-top: 10px;
	clear: both;
}

.button {
}

#submit_container {
	float: right;
	margin-top: 22px;
	margin-left: 5px;
	margin-right: 5px;
}

textarea {
	height: 375px;
	width: 100%;
}

#verification_script {
	height: 125px;
}

label {
}

#output {
	background: #EEEEEE;
	min-height: 60px;
}
